.table-container {
  position: relative;
}

.tbody-container {
  max-height: 350px;
  overflow-y: auto;
  display: block;
}

.tbody-container table {
  width: 100%;
}

.th-custom {
  background-color: #FAFAFA;
  color: #717680;
}
