nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 16px;
    margin: 0;
    border-bottom: 4px solid var(--border-secondary, #E9EAEB);
    background: var(--bg-primary, #FFF);
}

.nav-left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    h1 {
        margin: 0;
    }
}

.navbar-links {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    list-style-type: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
}

.nav-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.navbar-actions li a {
    text-decoration: none;
    color: var(--text-primary-400);
}

.active-link {
    color: var(--text-selected-page) !important;
    font-weight: bold;
    text-decoration: underline;
}
