<nav class="navbar">
  <div class="nav-left-side">
    <div class="navbar-logo">
      <img src="assets/" alt="Website Logo"/>
      <h1>Untitled UI</h1>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/employees">Employees</a></li>
      <li><a routerLink="/qualifications">Qualifications</a></li>
    </ul>
  </div>

  <div class="nav-right-side">
    <div class="navbar-actions">
      <li><a routerLink="/settings">Settings</a></li>
      <!-- TODO: Add welcome message here -->
      <img src="assets/images/profile_picture_monte.svg" alt="My profile picture"/>
    </div>
  </div>
</nav>
