<nav class="navbar">
  <div class="nav-left-side">
    <div class="navbar-logo">
      <img src="assets/images/website_logo.png" alt="Website Logo" style="width: 60px; height: 60px; border-radius: 16px"/>
      <h1>CrewMate</h1>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/employees" routerLinkActive="active-link">Employees</a></li>
      <li><a routerLink="/qualifications" routerLinkActive="active-link">Qualifications</a></li>
    </ul>
  </div>

  <div class="nav-right-side">
    <div class="navbar-actions">
      <li><a routerLink="/settings" routerLinkActive="active-link">Settings</a></li>
      <img src="../../../assets/images/profile_picture.png" alt="My profile picture"/>
    </div>
  </div>
</nav>
