<div class="group">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <!-- Firstname -->
    <div class="mb-3 mt-3 mx-5">
      <label for="firstname" class="form-label">Firstname:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee!.firstName"
        name="firstName"
        id="firstname"
        required
        placeholder="Bernd"
      />
      <div *ngIf="myForm.submitted && !myForm.controls['firstName']?.valid" class="text-danger">
        Firstname is required.
      </div>
    </div>

    <!-- Lastname -->
    <div class="mb-3 mx-5">
      <label for="lastname" class="form-label">Lastname:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee!.lastName"
        name="lastName"
        id="lastname"
        required
        placeholder="das Brot"
      />
      <div *ngIf="myForm.submitted && !myForm.controls['lastName']?.valid" class="text-danger">
        Lastname is required.
      </div>
    </div>

    <!-- Postcode -->
    <div class="mb-3 mx-5">
      <label for="postcode" class="form-label">Postcode:</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="employee!.postcode"
        name="postcode"
        id="postcode"
        required
        placeholder="12345"
      />
      <div *ngIf="myForm.submitted && !myForm.controls['postcode']?.valid" class="text-danger">
        Postcode is required.
      </div>
    </div>

    <!-- City -->
    <div class="mb-3 mx-5">
      <label for="city" class="form-label">City:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee!.city"
        name="city"
        id="city"
        required
        placeholder="Brotstadt"
      />
      <div *ngIf="myForm.submitted && !myForm.controls['city']?.valid" class="text-danger">
        City is required.
      </div>
    </div>

    <!-- Phone -->
    <div class="mb-3 mx-5">
      <label for="phone" class="form-label">Phone:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee!.phone"
        name="phone"
        id="phone"
        required
        placeholder="12345/123456789"
      />
      <div *ngIf="myForm.submitted && !myForm.controls['phone']?.valid" class="text-danger">
        Phone is required.
      </div>
    </div>

    <!-- Buttons -->
    <div class="mx-5">
      <button type="submit" class="btn btn-primary">Submit</button>
<!--      <button type="button" class="btn btn-warning" (click)="onEdit()">Edit</button>-->
<!--      <button type="reset" class="btn btn-danger" (click)="onCancel()">Cancel</button>-->
    </div>
  </form>
</div>

<!--<div class="group">-->
<!--  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">-->
<!--    <div class="mb-3 mt-3 mx-5">-->
<!--      <label for="firstname" class="form-label">Firstname:</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="employee?.firstName" id="firstname" required placeholder="Bernd">-->
<!--    </div>-->
<!--    <div class="mb-3 mx-5">-->
<!--      <label for="lastname" class="form-label">Lastname:</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="employee?.lastName" id="lastname" required placeholder="das Brot">-->
<!--    </div>-->
<!--    <div class="mb-3 mx-5">-->
<!--      <label for="postcode" class="form-label">Postcode:</label>-->
<!--      <input type="number" class="form-control" [(ngModel)]="employee?.postcode" id="postcode" required placeholder="12345">-->
<!--    </div>-->
<!--    <div class="mb-3 mx-5">-->
<!--      <label for="city" class="form-label">City:</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="employee?.city" id="city" required placeholder="Brotstadt">-->
<!--    </div>-->
<!--    <div class="mb-3 mx-5">-->
<!--      <label for="phone" class="form-label">Phone:</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="employee?.phone" id="phone" required placeholder="12345/123456789">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    <button type="submit" class="btn btn-warning">Edit</button>-->
<!--    <button type="reset" class="btn btn-danger">Cancel</button>-->
<!--  </form>-->
<!--</div>-->
