.filter-list {
  position: absolute;
  top: 90%;
  right: -2.5%;
  background-color: white;
  max-height: 163px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 4px 7px;
  width: 146px;
  z-index: 999;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.filter-list label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.filter-list::-webkit-scrollbar {
  width: 6px;
}

.filter-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.71);
  border-radius: 4px;
}

.filter-list::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 1);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 6px;
}

input[type='checkbox'] {
  margin-right: 10px;
}
