<link rel="stylesheet" href="../qualification-selection-menu/qualification-selection-menu.component.css">
<app-qualification-selection-menu
  [qualifications]="qualifications"
  [isVisible]="isPopupVisible"
  (selectedQualifications)="onSelectedQualificationsChange($event)"
  (isVisibleChange)="onPopupVisibilityChange($event)">
</app-qualification-selection-menu>

<app-base-table
  tableName="Qualifications"
  [onDeleteFunction]="onDelete"
  [onAddFunction]="onAdd"
  [data]="selectedQualifications">
</app-base-table>

