<div *ngIf="isVisible" class="popup-overlay">
  <div class="popup-container">
    <div>
      <h2>Select Qualifications</h2>
    </div>
    @for (qualification of qualifications; track qualification) {
      <div class="qualification-item">
        <label>
          <input
            type="checkbox"
            [checked]="isSelected(qualification)"
            (change)="toggleSelection(qualification)"
          />
          {{ qualification.name }}
        </label>
      </div>
    }

    <div class="popup-actions">
      <button (click)="confirmSelection()">Bestätigen</button>
      <button (click)="closePopup()">Abbrechen</button>
    </div>
  </div>
</div>
