.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.qualification-item {
  margin: 10px 0;
  text-align: left;
}

.popup-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:first-of-type {
  background-color: #007bff;
  color: white;
}

button:last-of-type {
  background-color: #ccc;
  color: black;
}

.newButton {
  background: none !important; /* Entfernt die Hintergrundfarbe */
  border: none; /* Entfernt den Rahmen */
  padding: 0; /* Entfernt den inneren Abstand */
  text-align: left; /* Linksbündige Ausrichtung */
}
