<div>
  <app-base-table
    tableName="Team Members"
    [onEditFunction]="onEdit"
    [onDeleteFunction]="onDelete"
    [onAddFunction]="onAdd"
    [data]="filteredData"
    [showSearchbar] = "true"
    [filterComponent]="filterTemplate">
    <ng-template #filterTemplate>
      <app-filter
        [filterDialogVisible]="filterDialogVisible"
        [qualifications]="qualificationService.qualifications"
        [data]="filteredData"
        (filteredData)="onFilteredDataChanged($event)">
      </app-filter>
    </ng-template>

  </app-base-table>
</div>
